<!DOCTYPE html>
<html>
<head>
    <title>Formulario Contraloría</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script>
        Swal.fire({
            title: '¡Éxito!',
            text: 'Datos guardados correctamente',
            icon: 'success',
            imageUrl: '/static/images/logo_contraloria.png', // Reemplaza con la URL de tu imagen
            imageWidth: 200, // Opcional: Ajusta el ancho de la imagen
            imageHeight: 200, // Opcional: Ajusta la altura de la imagen
        }).then(() => {
            window.location.href = 'http://127.0.0.1:8000';
        });
    </script>
</body>
</html>

