<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Contraloría</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <form method="post" action="/data-processing" class="row g-3 mx-sm-5 mx-2"></form>
    <div class="row m-md-5 m-3">
      <div style="text-align: center;">
      <h1 class="col">FORMULARIO CONTRALORIA</h1>
      </div>
    </div>


    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Direccion de correo electronico </label>
      <input name="correo" type="text" class="form-control" id="validationDefault01" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Nombre y apellido </label>
      <input name="nombre" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label">Cargo </label>
      <input
        name="cargo"
        type="text"
        class="form-control"
        id="validationDefaultUsername"
        aria-describedby="inputGroupPrepend2"
        required/>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Numero de Cedula </label>
      <input name="numero_cedula" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Nombre del jefe o jefa de la Oficiona de Atencion al ciudadano </label>
      <input name="nombre_jefe" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Numero de telefono del jefe o jefa de la Oficina de Atencion al Ciudadano </label>
      <input name="numero_telefono_jefe" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Estado </label>
      <input name="estado" type="text" class="form-control" id="validationDefault02" required />
    </div>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Municipio </label>
      <input name="municpio" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Nombre del Organismo u Ente adscrito donde labora </label>
      <input name="nombre_organismo" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Instancia a la que pertenece </label>
      <input name="instancia" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de denuncias recibidas </label>
      <input name="cantidad_denuncias" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de reclamos recibidos </label>
      <input name="cantidad_reclamos" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de quejas recibidas </label>
      <input name="cantidad_quejas" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de peticiones recibidas </label>
      <input name="cantidad_peticiones" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de sugerencias recibidas </label>
      <input name="cantidad_sugerencias" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de asesorias recibidas </label>
      <input name="cantidad_asesorias" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de poblacion adulto masculino </label>
      <input name="cantidad_poblacion_masc" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de poblacion adulto femenina </label>
      <input name="cantidad_poblacion_fem" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="row m-md-5 m-3">
      <h2 class="col">ACTIVIDADES PARA LAS OIPP</h2>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de talleres realizados (OIPP)</label>
      <input name="cantidad_talleres_oipp" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de charlas realizadas (OIPP)</label>
      <input name="cantidad_charlas_oipp" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de conversatorios realizados (OIPP)</label>
      <input name="cantidad_conversatorios_oipp" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de jornadas realizadas (OIPP)</label>
      <input name="cantidad_jornadas_oipp" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de foro-chats realizados (OIPP)</label>
      <input name="cantidad_forochats_oipp" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de poblacion adulto masculino atentido (OIPP)</label>
      <input name="cantidad_adulto_masculino_atentido_oipp" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de poblacion adulto femenino atentido (OIPP)</label>
      <input name="cantidad_adulto_femenino_atentida_oipp" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="row m-md-5 m-3">
      <h2 class="col">ACTIVIDADES SISTEMA EDUCATIVO</h2>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Nombre de la Escuela,Liceo o Universidad donde realizo la actividad (S.E.)</label>
      <input name="nombre_escuela_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Describa cantidad y de que trataron las actividades relizadas al Sistema Educativo (S.E.)</label>
      <input name="cantidad_actividades_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de talleres realizados (S.E.)</label>
      <input name="cantidad_talleres_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de charlas realizadas (S.E.)</label>
      <input name="cantidad_charlas_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de conversatorios realizados (S.E.)</label>
      <input name="cantidad_conversatorios_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de jornadas realizadas (S.E.)</label>
      <input name="cantidad_jornadas_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de foro chats realizados (S.E.)</label>
      <input name="cantidad_forochats_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de niños y adolescentes masculinos atentidos (S.E.)</label>
      <input name="cantidad_ninosyadol_masculino_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de niñas y adolescentes femeninas atentidos (S.E.)</label>
      <input name="cantidad_ninasyadol_femenino_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de adultos masculinos atentidos (S.E.)</label>
      <input name="cantidad_adultos_masculino_atendidos_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de adultas femeninas atentidos (S.E.)</label>
      <input name="cantidad_adultos_femenino_atendidos_se" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="row m-md-5 m-3">
      <h2 class="col">ACTIVIDADES PARA LA ADMINISTRACION PUBLICA</h2>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Nombre del Ministerio, Empresa, Compañia u Ente a quien le dio la actividad competente a la Administracion Publica Nacional (A.P.)</label>
      <input name="nombre_ministerio_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Describa cantidad y de que trataron las actividades realizadas a la Administracion Publica (A.P.)</label>
      <input name="cantidad_actividades_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de talleres realizados (A.P.)</label>
      <input name="cantidad_talleres_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de charlas realizadas (A.P.)</label>
      <input name="cantidad_charlas_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de jornadas realizadas (A.P.)</label>
      <input name="cantidad_jornadas_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de foro chats realizados (A.P.)</label>
      <input name="cantidad_forochats_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de funcionarios masculinos atendidos en la Administracion Publica Nacional </label>
      <input name="cantidad_funcionarios_masculino_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Cantidad de funcionarias femeninas atendidos en la Administracion Publica Nacional </label>
      <input name="cantidad_funcionarios_femenino_ap" type="text" class="form-control" id="validationDefault02" required />
    </div>
  
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Send Data</button>
    </div>
  </form>
</body>
</html>